
@*ran idea.. 2 headers, 1 pos fixed, 1 invis to keep margin diff and other moves, invis on mouse scroll*@
<header>
    <img id="HeaderImg" src="https://picsum.photos/1000/1000" alt="Logo of a CD-disc" />
    <h1 id="HeaderTitle" onclick="NavHome()">Record Shop</h1>
    <nav id="HeaderNav">
        <h3>Nav Menu</h3>
        TODO <NavMenu></NavMenu>
    </nav>
</header>