@page "/"
@layout Components.Layout.MainLayout;

@* TODO default home page 

    welcome users
    Ft Record (ran) RecordsLoader?

    [CascadingParameters] ??

about page
*@

<!-- auto fills max width -->
<h1>Welcome Page</h1>