<h3>RecordsLoader</h3>

@code {
    private List<Albums> Records = [];
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

<RecordShopBlazor.Components.Data.RecordSummaryList />
