<h3>RecordFeatured</h3>

@code {
    [Parameter] public Albums Record { get; set; }
}

@if (Record != null) {
    <h2>Featured: @Record.Title - @Record.Artist</h2>
}else {
    <h2>Featured: TODO - TODO</h2>
}

