<h3>RecordSummery</h3>

@inject NavigationManager NvM;

@code {
    [Parameter]
    public Albums Record { get; set; }

    private void onClick(int s){
        if (Regex.IsMatch(NvM.Uri, "/records$"))
        {
            NvM.NavigateTo($"records/{s}");
        }
    }
}

@if(Record != null){
    <div @onclick="()=>onClick(Record.Id)"> Record Info: @($"{Record.Title} : {Record.Artist} : {Record.ReleaseDate}") </div>
}