@page "/records"

<h3>RecordSummaryList</h3>

@code {
    public List<Albums> RecordList { get; set; } = [];

    protected override void OnInitialized()
    {
        RecordList = Global.GetAllRecords();
    }
}

@if(RecordList.Count>0){
    foreach(var a in RecordList){
        <RecordSummery Record="a" />
    }
}else{
    <div>Error no records to display!</div>
}