* [theme=sand] {
    --OuterBg: #fbd680;
    --OuterFg: #f9f9f9;
    --Accent: #fbf080;
    --MainBg: #fbb880;
    --MainFg: #343434;
}

body{ background-color: var(--MainBg); color: var(--MainFg); }

footer, header{ background-color: var(--OuterBg); color: var(--OuterFg); }

header{
    /*% = rel to parent, vh = rel to visible window*/
    width: 80%; height:20vh;
    padding: .5%;

    text-align: center;
    margin: auto;

    /*grid layout*/
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    grid-template-rows: minmax(10%,20%);
}

/*@media querys to make responsive to diff layouts*/
/*screen | printer | projected | tv | speech | all
    screen-visual display, printer - i.e. print view, projeceted - presentation, speech - screen readers etc..
*/

@media screen and (max-width: 600px){
    header{
        display:grid; grid-template-rows: auto; grid-template-columns: 1fr;
        /* auto fit content*/
        color: var(--MainBg);
    }
}

header img{
    /*TODO set size limits*/
    width:100%;
}

header *{
    margin: auto; text-shadow: var(--MainFg) 0px 1px 1px;
    font-size: 5vh;
}

footer {
    bottom: 5px;
    position: fixed;
}

/*TODO
    grid for overall layout, flex for adjustability
    2d vs 1d | layout vs content
*/