* [theme=dark] {
    --OuterBg: #696969;
    --OuterFg: #101010;
}



header {
    padding: 5px;
    margin: auto;
    background-color: var(--OuterBg); color: var(--OuterFg);
    max-width: 80%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-areas: "Img Title Nav";
    grid-template-columns: 1fr 6fr 1fr;
}
footer{
    background-color: var(--OuterBg); color: var(--OuterFg);
    min-width: 95%; font-weight: bold;
    font-size: 30px;

    /*magic fix to centre divs*/
    left: 50%; transform: translateX(-50%);
}

#HeaderImg {
    grid-area: "Img";
    height: 100px;
    width: 100px;
    margin: auto;
}

#HeaderTitle {
    grid-area: "Title";
    margin: 0 auto;
    align-content: center; /*only autosize width, align center*/
}

#HeaderNav {
    grid-area: "Nav";
    background-color: #828282;
}

body * {
    text-align: center;
    width: fit-content;
}

form {
    margin: auto;
    border: #FFFFFF8F groove 2px;
}

form hr {
    width: 100%
}

body {
    background-color: #111111;
    color: #EEEEEE
}

h1, h2, h3, label {
    background-color: #999999;
    margin: auto;
}
