<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="BlazorError.css" />
    <link rel="stylesheet" href="RecordShopBlazor.styles.css" />
    <HeadOutlet />

    

        <link rel="icon" src="https://mikael.neocities.org/collections/disc-gifs/cd_017.gif" />
        <title>RecordShop</title>

        @* adding query = cache bust (saves css as cache can not update on restart) *@
        <link rel="stylesheet" href="./css/style.css?v=1.0" />    
</head>

<body theme="dark">
    @* set default rendermode to server *@
    <Routes @rendermode=InteractiveServer />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
