<div style="overflow-y:scroll">
    <button type="button">
        <a href="/records">All Records</a>
    </button>
    <button type="button">
        <a href="/records/new">New Record</a>
    </button>
</div>
