<h3>RecordLoader</h3>

@* https://localhost:7148 *@

@code {

    //Components rerender when attributes change


    ///No implicit access modifiers allowed!

    [Parameter] //Make it an attribute so it reruns/updates
    public List<Albums> records { get; set; } = [];

    //Async makes it load and skip the 2nd time it re-renders
    protected override async Task OnInitializedAsync()
    {
        var resp = await new HttpClient { BaseAddress = new("https://localhost:7148") }.GetFromJsonAsync<List<Albums>>("/Album");
        //Handle errors?
        //Status bar?
        //records = res;
        //Console.WriteLine("RES:" +JsonSerializer.Serialize(resp, new JsonSerializerOptions (){WriteIndented=true}));

        //WORKS!
        //Console.WriteLine("RES:" + JsonSerializer.Serialize(resp, new JsonSerializerOptions() { WriteIndented = true }));
        records = resp;

        // this.StateHasChanged(); //TODO manual re-render
    }
}

@* make it update-rerender?? *@
@if(records.FirstOrDefault()==null){

    var a = "";

    //TODO cannot confirm it changes with slow connection
    Console.WriteLine("Getting Records");
    <div>Grabbing albums!</div>
}else{
    Console.WriteLine("Loading Records");
    <RecordSummaryList records=records />
}
