header{
    padding:5px;
    margin: auto;

    background-color: #696969;
    max-width: 80%;

    align-content:center; justify-content:center; text-align:center;


    display: grid;
    grid-template-areas: "Img Title Nav";
    grid-template-columns: 1fr 6fr 1fr;
}

#HeaderImg{
    grid-area: "Img";
    height:100px; width:100px;
    margin:auto;
}
#HeaderTitle{
    grid-area: "Title";
    margin: 0 auto;
    align-content: center; /*only autosize width, align center*/
}
#HeaderNav {
    grid-area: "Nav";
    background-color: #828282;
}
