body *{
    text-align:center;
    width:fit-content;
}

form{
    margin:auto;    
    border: #FFFFFF8F groove 2px;
}
form hr{
    width: 100%
}

body {
    background-color: #111111;
    color: #111111
}

h1, h2, h3, label{
    background-color: #999999;
    margin: auto;
}
