@inherits LayoutComponentBase

<RecordShopBlazor.Components.Layout.Header.Header />
 

@Body 
@* Replaced by content where this layout is referenced.. i.e. @Body => Home.razor if Home uses this layout *@

<div id="blazor-error-ui">

    <!--TODO display err-->

    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<RecordShopBlazor.Components.Layout.Footer.Footer />