@inherits LayoutComponentBase

@inject NavigationManager NVM


<head>
    <link rel="icon" src="https://mikael.neocities.org/collections/disc-gifs/cd_017.gif" />
    <title>Home</title>

    @* adding query = cache bust (saves css as cache can not update on restart) *@
    <link rel="stylesheet" href="Header.css?v=1.0" />
    <link rel="stylesheet" href="Main.css?v=1.0" />
</head>


<script>
    //TODO undefined err for oncick?!
    let NavHome = () => {
        console.log("Go home!"); window.location.href = `@NVM.BaseUri` ;
    }
</script>


 @*ran idea.. 2 headers, 1 pos fixed, 1 invis to keep margin diff and other moves, invis on mouse scroll*@
<header id="Header">
    <img id="HeaderImg" src="https://th.bing.com/th/id/R.54249dbcb4fbe10291c9e513a55ef500?rik=y9ZtISntfsiEaw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fcompact-cd-dvd-disk-png-image-1024.png&ehk=l2VhLe1nSk%2fRp8HxGKEokwmqdcEe63llF3RhSxxdBFA%3d&risl=&pid=ImgRaw&r=0" alt="Logo of a CD-disc" />
    <h1 id="HeaderTitle" onclick="NavHome()">Record Shop</h1>
    <nav id="HeaderNav">
        <h3>Nav Menu</h3>
        <NavMenu></NavMenu>
    </nav>
</header>

@Body 
@* Replaced by content where this layout is referenced.. i.e. @Body => Home.razor if Home uses this layout *@


<footer style="bottom: 5px; position:fixed">
    @System.DateTime.Now.ToLongDateString() : Meta
</footer>

<div id="blazor-error-ui">

    <!--TODO display err-->

    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
